# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Environment variables
.env
.env.local
.env.production
.env.backup

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sublime-project
*.sublime-workspace

# Prisma
prisma/*.db
prisma/*.db-journal
prisma/migrations/

# OS
Thumbs.db
Desktop.ini

# Temporary files
*.tmp
*.temp
.cache/

# Uploads
uploads/
public/uploads/

# Server
server/node_modules/

# Misc
*.pem
*.key
.next/
